.slick-slide{
    padding-right: 20px;
}
.cat-slider__main .slick-arrow.slick-next {
        top: -32% !important;
        right: 2% !important;
}   

.cat-slider__main .slick-arrow.slick-prev {
    top: -32% !important;
    left: inherit !important;
    right: 75px !important;
}   

.cat-slider__main .slick-arrow{
    zoom: 80%;
}
.cat-slider__main .info{
    transition: all 0.3s ease-in-out;
    position: relative;
}

.cat-slider__main .item:hover .info{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* transform: translateY(-10px); */
    transform: scale(1.1);
}

